name: OWASP ZAP Scan

on:
  push:
    branches: [ "main" ]

permissions:
  contents: read
  actions: read
  security-events: write

jobs:
  zap_scan:
    runs-on: ubuntu-latest
    if: github.event_name == 'push'

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: OWASP ZAP Baseline Scan
        uses: zaproxy/action-baseline@v0.10.0
        with:
          target: 'https://agentssv.github.io/GitHub-Actions-Practice/'
